@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  color: gold;
  font-size: 42px;
}


.container{
    color:#fff;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding:10px 60px;
}

.links{
    list-style: none;
    padding-left:0;
    display: flex;
    gap:20px;
}

.link a{
    color:#fff;
    text-decoration: none;
    font-size: larger;
}

.action-button-btn{
    background: transparent;
    border:1px solid gold;
    color: #fff;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.banner {
    border:1px solid red;
    background-color: black;
    padding:10px 60px;
    background: url('./assets/chicken-banner.png');
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
}

.explore-button-btn {
    background: orange;
    color: #fff;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.section{
  display:flex;
  padding: 10px 20px;
  border:1px solid;
  justify-content:space-between;
  align-items:centre;
  color: black;
  }

.card{
  border:1px solid;
  display:flex;
  align-items:center;
  
}

.menu-items{
    color: black;
}